.homepage-header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: blueviolet;
  font-size: 24px;
}

.welcoming-ptag {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgb(34, 91, 91);

}

.homepage-navbar {
  margin-left: 12%;
  border:4px , solid peachpuff;
  border-radius: 6px;
  background-color: aliceblue;
}
 
.anonymousmode-link {
    margin-left: 22px;

  border: 0%, aliceblue
  ;
}

.faqs-link {
  margin-left: 22px;
}

.reportchild-link {
  margin-left: 22px;

}

.ngos-link {
    margin-left: 22px;

}


.signup-button {
    margin-left: 22px;
    padding: 6px;
    width: 75px;
    border: 0px;
    border-radius: 6px;
    background-color: rgb(153, 88, 213);

}

.dark-mode-button {
  /* background-color: rgba(150, 74, 221, 0.502); */
  border-radius:50px;
  padding: 4px;
  /* margin-top: 1px; */
  margin-left: 12px;
  border: 1px solid beige;
}

.reporting-child-form {
  max-width: 320px;
}

.signup-image {
  width: 520px;
  height: 520px;
  border-radius: 16px;
}

.signup-image-container{
  max-width: 520px;
  height: 520px;
}

.signup-form-container{
  background-color: aquamarine;
  width: 550px;
  margin-left: 5px;
  border-radius: 16px;
}
#create-account-h1{
  color: rgb(71, 56, 146);
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px ;
  font-weight: 600;
  margin-left:122px;
  margin-top: 50px;
}

#signup-page-ptag {
font-size: 15px;
margin-top: 1px;
margin-left: 42px;
font-family:'Times New Roman', Times, serif;
}

.signup-container {
  display: flex;
}

 #signup-firstname-input {
  width: 145px;
  padding: 8px;
  border: 1px solid rgb(30, 111, 183);
  margin-left: 50px;
  border-radius: 6px;
 }

 #signup-lastname-input{
  margin-left: 10px;
  width: 145px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);
 }

 #signup-username-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

 }

 #signup-email-input{
    width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);
 }

 #signup-password-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

 }

 #signup-checkbox-input{
  margin-left: 150px;
  margin-top: 21px;
  margin-bottom: 0px;
 }

 .signup-page-remember-me-ptag{
  margin-left: 200px;
  margin-top: 0px;
 }

 .create-account-button{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 55px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

 }

 .faqs-question-card{
background-color: aliceblue;
}

.login-container {
background-color: aqua;
  width: 550px;
  height: 490px;
  margin-left:26%;
  border-radius: 16px;

}

.login-button {
    padding: 6px;
    width: 75px;
    border: 0px;
    border-radius: 6px;
    background-color: rgb(153, 88, 213);
}

.login-email-or-username-input{
  width: 320px;
  padding: 8px;
  margin-top: 320px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.login-passqord-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);
}

.login-page-ptag{
font-size: 15px;
margin-top: 9px;
margin-left: 42px;
font-family:'Times New Roman', Times, serif;

}

.login-button{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 55px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-child-container{
  background-color: rgb(101, 158, 211);
  width: 550px;
  height: 490px;
  margin-left:26%;
  border-radius: 16px;

}

.report-child-name-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-child-age-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-parent-name-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-parent-contact-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-last-seen-input{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);

}

.report-child-button{
  width: 320px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 58px;
  border-radius: 6px;
  border: 1px solid rgb(30, 111, 183);


}

#faqs-button {
  width: 320px;
  padding: 38px;
  border-radius: 6px;
  display: flex;
  border: 1px solid antiquewhite;

}